mat-radio-button {
  padding: 1rem;
}

.time-border {
  font-size: xx-large;
  width: 100%;
  text-align: right;
}

section {
  width: 100%;
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
  .main-border {
    width: 60rem;
    height: 40rem;
  }
  .question-border{
    width: 100%;
    height: 20rem;
      label{
        display: block;
        padding: 1rem;
        text-align: center;
        font-size: 3rem;
    }
    .question-and-correct-border {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .button-correct{
        background-color: rgb(161, 232, 255);
        width: 10rem;
      }
    }
  }
  .button-border{
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
  }
  .button-next-pervious{
    width: 10rem;
    margin: 0.5rem;
  }
  .button-summary{
    background-color: rgb(161, 232, 255);
    width: 10rem;
    margin-left: auto;
  }
}
.animation-class-forward{
  animation: slow linear .5s;
}

.animation-class-backward{
  animation: slowback linear .5s;
}

@keyframes slow
{
  0% { transform: translateX(-240px);}
  50% { transform: translateX(-120px);}
  100% {transform: translateX(0px);}
}

@keyframes slowback
{
  0% { transform: translateX(240px);}
  50% { transform: translateX(120px);}
  100% {transform: translateX(0px);}
}




