.summary-border{
  width: 100%;
  height: 60rem;
  display: flex;
  align-items: center;
  justify-content: center;
  .info-border{
    border-radius: 5px;
    width: 50rem;
    height: 20rem;
    background: whitesmoke;
    p{
      padding: 1rem;
      width: 100%;
      text-align: center;
      font-size: 2rem;
    }
    button{
    float: right;
    background: silver;
    margin: 1rem;
    width: 15rem;
    height: 5rem;
    font-size: 2rem;
    }
  }
}
