<mat-radio-group  [(ngModel)]="correctAnswer" aria-label="Select an option">
<div class="header-input-button-container">
  <div class="header-input-button-container">
    <h1><mat-icon>forum</mat-icon>Formularz Pytań</h1>
    <mat-form-field appearance="outline">
      <textarea matInput placeholder="Wpisz Pytanie" [(ngModel)]="question" (input)="checkLongAnswer()" [formControl]="validForTextArea" required></textarea>
      <mat-error *ngIf="validForTextArea.hasError('minlength')">Minimalna liczba znaków w pytaniu to trzy</mat-error>
      <mat-error *ngIf="validForTextArea.hasError('required')">Podaj pytanie</mat-error>
    </mat-form-field>
      <div class="form-conteiner" *ngFor="let i of arrayOfQuantityInput(numberOfAnswer) let j = index">
          <mat-form-field appearance="fill">
            <div class="border-for-radio-button">
              <mat-radio-button value={{j}} color="primary" (change)="checkLongAnswer()" [checked]="j === 0"></mat-radio-button>
            </div>
              <input matInput placeholder="Wpisz Odpowiedź {{j+1}}" (input)="checkLongAnswer()" [(ngModel)]="answers[j]" [formControl]="validationForInput[j]" required>
            <mat-error *ngIf="validationForInput[j].hasError('minlength')">Minimalna liczba znaków w pytaniu to dwa</mat-error>
            <mat-error *ngIf="validationForInput[j].hasError('required')">Podaj odpowiedź</mat-error>
          </mat-form-field>
          <button class="delete-button" mat-flat-button (click)="deleteAnswer(j, $event)">Usuń Odpowiedź</button>
    </div>
    <button mat-flat-button [disabled]="numberOfAnswer >= maxQuantityOfAnswer" (click)="addAnswer()">Dodaj Odpowiedź</button>
    <button mat-flat-button [disabled]="checkLongOfAnswer !== true" (click)="addQuestionToJsonServer()">Zatwierdź</button>
  </div>
</div>
</mat-radio-group>




