<table mat-table [dataSource]="listWithQuestionAndAnswer">
  <ng-container matColumnDef="value.id">
    <th mat-header-cell *matHeaderCellDef> id </th>
    <td mat-cell *matCellDef="let element"> {{element.value.id}} </td>
      <td mat-footer-cell *matFooterCellDef> Wynik </td>
  </ng-container>
  <ng-container matColumnDef="value.question">
    <th mat-header-cell *matHeaderCellDef> question </th>
    <td  mat-cell *matCellDef="let element; let i = index;" routerLink="/quiz/{{i}}" matTooltipClass="tool-tip-for-info"
    [matTooltip]="element.value.question" [matTooltipPosition]="above">
      <span [classList]="'line-question'">{{element.value.id}}</span></td>
    <td mat-footer-cell *matFooterCellDef>{{result}}<span>/</span>{{sumOfAllPoints}}</td>
  </ng-container>
  <ng-container matColumnDef="value.answers">
    <th mat-header-cell *matHeaderCellDef> answers </th>
    <td mat-cell *matCellDef="let element" matTooltipClass="tool-tip-for-info" [matTooltip]="element.value.answers" [matTooltipPosition]="above"> {{element.value.id}} </td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>
  <ng-container matColumnDef="value.userAnswer">
    <th mat-header-cell *matHeaderCellDef> userAnswer </th>
    <td mat-cell *matCellDef="let element" matTooltipClass="tool-tip-for-info" [matTooltip]="element.value.answers[element.value.userAnswer]" [matTooltipPosition]="above">
      <ng-template [ngIf]="element.value.userAnswer !== null && element.value.userAnswer !== undefined"> {{+element.value.userAnswer + 1}}</ng-template></td>
      <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
  <div *ngIf="this.listWithResoult.length > 0">
    <tr mat-footer-row *matFooterRowDef="columnsToDisplay" ></tr>
  </div>
</table>






