<section>
  <div [className]="'main-class'">
    <h1>Quiz Stolic Państw</h1>
    <h3>Liczba pytań: {{quantityOfQuestions}}</h3>
    <h3>Liczba czasu w minutach jaki masz na ukończenie testu: {{timeForUser}}</h3>
    <h3>Test jest testem jednokrotnego wyboru</h3>
    <div class="button-element">
    <button mat-flat-button  routerLink="/quiz/{{0}}">Start</button>
<!--    <mat-slide-toggle color="warn" (change)="onChange($event)" ><h3>Włacz tryb punktów ujemnych</h3></mat-slide-toggle>-->
  </div>
 </div>
</section>



