@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Righteous', cursive;
  color: black;
}

body {
  font-size: 1rem;
  background: linear-gradient(to bottom, #cfe7fa 0%,#6393c1 100%);
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
