@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
  font-size: 1rem;
  background: linear-gradient(to bottom, #cfe7fa 0%,#6393c1 100%);
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
